*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    height:100vh;
    width:100%;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    position: absolute;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0 50%;
    }
}

.form-box{
    width:380px;
    height:480px;
    position: relative;
    margin:6% auto;
    background: #fff;
    padding:5px;
    overflow: hidden;

}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff612414;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
#btn{
    top:0;
    left: 0;
    width: 110px;
    height: 100%;
    position:absolute;
    background: linear-gradient(to left, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;

}

.input{
    top:180px;
    position: absolute;
    width:280px;
    transition:.5s;
}
.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:none;
    background: transparent;
}
.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display: block;
    margin:auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border:0;
    outline:none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position:absolute;
}
#login{
    left:50px;

}
#signup{
    left:450px;
}
